body {
    font-family: 'Courier New', monospace;
    background-color: #f2e7f2; 
    color: #333; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#game-container {
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: #f2e7f2;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

h1 {
    color: #6495ed;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

#scene-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    border-radius: 100px;
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.3),
        0 0 60px rgba(88, 24, 69, 0.6);
}

#scene-text, #result-text {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.choice {
    background-color: #6495ed;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    font-family: inherit;
    border-radius: 8px;
    font-family: inherit;
    box-shadow: 
        0 0 10px rgba(88, 24, 69, 0.4);
}

.choice:hover {
    background-color: #4169e1;
}

#result-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

#share-button {
}